@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Fira+Sans:ital,wght@0,600;1,600&family=Lato:ital,wght@0,100;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin";

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('bg.png') no-repeat;
    background-color: black;
    background-size:cover;
    background-position: center;
}


.wrapper {
width: 420px;
background-color: rgba(0, 0, 0, 0.158);
color: rgba(255, 255, 255, 0.849);
padding: 45px 45px 45px 45px;
border-radius: 10%;
}

.wrapper h1{
    
font-size: 36px;
text-align: center;

}

.wrapper .input-box{
position: relative;
width: 100%;
height: 50px;
border-radius: 50px;
background: transparent;
border: 2px solid rgb(109, 109, 109 );
margin: 30px 0;
margin-top: 5px;
text-decoration-color: white;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
.input-box input {

    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(red, green, blue, alpha);
    font-size: 16px;
   padding: 20px 45px 20px 20px;
}

.input-box i {

    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forget{
display: flex;
justify-content: space-between;
font-size: 14.5px;
margin: -15px 0 15px;
width: 100%;
padding: 0px 0px 20px 0px;

}

.remember-forget a {
    text-decoration: none;
    color: white;

   }



   .wrapper .btn {
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
   }

   .wrapper .register-link {
    width:100%;
    height: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 0px 0px;
    font-weight: 600;
   }
   .register-link p a {
    text-decoration: none;
    color: white;

   }

   .register-link p a:hover{
    text-decoration: underline;
   }

   .remember-forget a:hover{
    text-decoration: underline;
   }